
<div class="container">
  <h1 class="text-center m-2">Guía de Vecinos de Animal Crossing</h1>


  <div class="row m-2">
    <div class="col-md-6">
      <article>
        <p class="m-auto pb-3"> ¡Bienvenido a nuestra guía de personajes de Animal Crossing!<br>
          Si eres un fanático de la saga, sabrás que los vecinos son una parte fundamental de la experiencia de juego.<br>
          Cada uno de ellos tiene su personalidad única, intereses y cosas que los hacen especiales.<br>
          En esta página, encontrarás una amplia selección de personajes ordenados y mostrados en tarjetas, cada una con su nombre e id del personaje.
        </p>
      </article>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/imagene/ACNH3.jpg" class="img-thumbnail" alt="Foto ilustrativa">
    </div>
  </div>

  <div class="row m-2">
    <div class="col-md-6 my-2 pt-sm-2">
      <img src="../../../assets/imagene/AnC.png" class="mt-5" alt="Foto abajo izq">
    </div>

    <div class="col-md-6">
      <article>
        <p class="m-auto">Si haces click en la tarjeta que te interese se mostrará la información detallada sobre ese vecino.<br>
          Simplemente pulsando en la tarjeta de tu vecino favorito descubrirás todo lo que necesitas saber sobre ellos: desde sus rasgos de personalidad hasta sus pasatiempos, cumpleaños, canciones favoritas y mucho más.<br>
          Con esta guía completa, nunca volverás a perderte ninguna información importante sobre tus vecinos de Animal Crossing. ¡Explora la página y descubre todos los secretos de tus amigos peludos en el juego!
        </p>
      </article>
    </div>
  </div>

</div>
