<div class="container">
  <div class="text-center my-3">
    <div class="card">
      <div class="card-header" id="headerr">
        <div class="card-title" id="txtHeader"><h2>Anna Ruiz Blázquez</h2></div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <h4>Hobbies</h4>
            <p><i class="fa-solid fa-book-open-reader"></i> Lectura</p>
            <p><i class="fa-solid fa-users-line"></i> Socializar</p>
            <p><i class="fa-solid fa-code-branch"></i> Programar</p>
          </div>
          <div class="col-md-4">
            <h4>Habilidades</h4>
            <p> <i class="fa-solid fa-users"></i> Empatía</p>
            <p> <i class="fa-solid fa-network-wired"></i> Organizada</p>
            <p><i class="fa-solid fa-otter"></i> Iniciativa</p>
          </div>
          <div class="col-md-4">
            <h4>Datos</h4>
            <p><i class="fa-solid fa-calendar-days"></i> 10/07/2001</p>
            <p><i class="fa-solid fa-location-pin"></i> Valencia</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
